<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    
</head>
<body>

    <nav class="navbar is-dark" role="navigation" aria-label="main-navigation">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">Polls</a>
        </div>

        <div class="navbar-start">

            <a href="#" class="navbar-item"> About </a>

        </div>

        <div class="navbar-end">
            <a href="#" class="navbar-item">Login</a>
        </div>

    </nav>
    {% block content %}

    {% endblock %}
    
   
</body>
</html>